<template name="cardList">
    <!-- be awared that there are two tags regarting the page structure has moved 
    to layout.html in order to help the footer obtain a correct location -->
    <div class="demo-blog__posts mdl-grid">
        <div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col mdl-shadow--4dp">

            <!-- The entery point for explantion page -->
            <div class="mdl-card__media mdl-color-text--grey-50">
                <h3><a href="entry.html">SR.Web 项目是怎样工作的？</a></h3>
            </div>

            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                <div class="minilogo"></div>
                <div>
                    <strong>The Newist</strong>
                    <span>2 days ago</span>
                </div>
            </div>
        </div>


        <!-- The upload card -->
        <!-- current under heady construction, be mind of any changes here! -->
        <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop mdl-shadow--16dp">

            <!-- the select button -->
            <div class="file_input">
                <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">add</i>
                    <input id="file_input_file" name="file_input_file" style="display: none" type="file" accept="image/*" />
                </label>
            </div>

            <div class="mdl-card__media mdl-color--white mdl-color-text--blue-A700">
                <!-- TODO:remember change this image to the finish logo once get the uploaded file's name -->
                <div id="upload_icon">
                    <img src="images/upload.png">
                </div>

                <div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">
                    <!-- yellow 900 is the color I used here, more info: http://blog.jonathanargentiero.com/material-design-lite-color-classes-list/ -->
                    <!-- placeholder="                      图片名" this implementation is way too stupid so I give up-->
                    <input class="file_input_text mdl-textfield__input mdl-color-text--yellow-900 " type="text" disabled readonly id="file_input_text"
                    />
                    <label class="mdl-textfield__label" for="file_input_text"></label>
                </div>
                <!-- TODO:replace the +1337 with the update times -->

            </div>

            <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
                <div id="upload_text">
                    <strong> </strong>
                </div>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" disabled id="enlarge_button">
                    <div id="enlarge_button_text">
                        等待图片
                    </div>
                </button>

            </div>
        </div>


        <!-- place reserved for  meteor's template system-->
        <!-- {{> picCardList}} -->
        <div class="pictures">
            {{#each pictures}} 
                {{> cardItem}} 
            {{/each}}
        </div>


        <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
                <h3><a href="entry.html">On the road again</a></h3>
            </div>
            <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                <div class="minilogo"></div>
                <div>
                    <strong>The Newist</strong>
                    <span>2 days ago</span>
                </div>
            </div>
        </div>
        <div class="mdl-card amazing mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--grey-50">
                <h3 class="quote"><a href="entry.html">I couldn’t take any pictures but this was an amazing thing…</a></h3>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                <div class="minilogo"></div>
                <div>
                    <strong>The Newist</strong>
                    <span>2 days ago</span>
                </div>
            </div>
        </div>


        <!-- Next page button -->
        <nav class="demo-nav mdl-cell mdl-cell--12-col">
            <div class="section-spacer"></div>
            <a href="entry.html" class="demo-nav__button" title="show more">
                More
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_forward</i>
                </button>
            </a>
        </nav>


    </div>

    <!-- dialog, use for hold enlarge parameters  -->
    <!-- Be aware that the dialog compoent must be placed directly under the outest tag, otherwise it would not be placed at the center of screen -->
    <dialog id="dialog" class="mdl-dialog">
        <h3 class="mdl-dialog__title">放大参数</h3>

        <div class="mdl-dialog__content">
            <!-- radio button uses name attribute to define group -->
            <p >
                <!-- TODO:insert some explantaion text here! -->
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="enlarge-2x">
                   
                    <input type="radio" id="enlarge-2x" class="mdl-radio__button" name="scale_factor" value="1" checked>
                    <span class="mdl-radio__label">放大2倍</span>
                  </label>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="enlarge-4x">
                    <input type="radio" id="enlarge-4x" class="mdl-radio__button" name="scale_factor" value="2">
                    <span class="mdl-radio__label">放大4倍</span>
                </label> 

                <br>
            </p>
            <p >
                <!-- TODO:insert some explantaion text here! -->
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                    <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                    <span class="mdl-radio__label">对照片进行放大</span>
                  </label>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
                    <span class="mdl-radio__label">对绘画进行放大</span>
                </label>  
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" id="submit_btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">开始放大</button>
        </div>
    </dialog>

    <!-- pop out notification -->
    <div id="upload_success" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <!-- FIXME:Due to unknow reason, these script doesn't work within the card_list.js file, so I transfer them to here  -->
    <!-- Very likely some issues within the meteor -->
    <script type="text/javascript">

        // This is the helper function for 
        (function () {
            'use strict';
            var dialogButton = document.querySelector('#enlarge_button');
            var dialog = document.querySelector('#dialog');
            if (!dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }
            dialogButton.addEventListener('click', function () {
                dialog.showModal();
            });

            // Used for auto close the dialog after click any enabled button
            dialog.querySelector('button:not([disabled])')
                .addEventListener('click', function () {
                    dialog.close();
                });
        }());


        var fileInputTextDiv = document.getElementById('file_input_text_div');
        var fileInput = document.getElementById('file_input_file');
        var fileInputText = document.getElementById('file_input_text');

        fileInput.addEventListener('change', changeInputText);
        fileInput.addEventListener('change', changeState);

        function changeInputText() {
            var str = fileInput.value;
            var i;
            if (str.lastIndexOf('\\')) {
                i = str.lastIndexOf('\\') + 1;
            } else if (str.lastIndexOf('/')) {
                i = str.lastIndexOf('/') + 1;
            }
            fileInputText.value = str.slice(i, str.length);
        }

        function changeState() {
            if (fileInputText.value.length != 0) {
                if (!fileInputTextDiv.classList.contains("is-focused")) {
                    fileInputTextDiv.classList.add('is-focused');
                }
            } else {
                if (fileInputTextDiv.classList.contains("is-focused")) {
                    fileInputTextDiv.classList.remove('is-focused');
                }
            }
        }

        document.getElementById("file_input_file").onchange = function () {
            document.getElementById("upload_icon").innerHTML = "<img src=\"images/all_done.png\">";
            document.getElementById("upload_text").innerHTML = "<strong>图片已上传</strong>";

            // use to enable the enlarge btn after recieve an image
            var enlarge_button = document.getElementById('enlarge_button');
            enlarge_button.removeAttribute("disabled");
            componentHandler.upgradeElement(enlarge_button);

            document.getElementById("enlarge_button_text").innerHTML = "点我放大图片！";
        }

    </script>

</template>