<template name="Footer">
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">合肥工业大学 · 计算机与信息学院 孙天成</a></li>
            </ul>
        </div>

        <div class="mdl-mini-footer--right-section">
            <a href="https://github.com/Tygen/SR.Web" class="social-btn social-btn__github" role="button" title="GitHub"></a>
        </div>
    </footer>
</template>

<!-- Footer -->
<!-- FIXME:: the GitHub button doesn't work! -->
